@page "/"
@using LightBDD.Reporting.Progressive.UI.Services
@inject InteropService Interop;
@inject EventRepository Repository;
@implements IDisposable;

@foreach (var feat in Repository.Features.OrderBy(f => f.Name.Name))
{
    <div>
        <div>@feat.Name.Name</div>
        @foreach (var sc in feat.Scenarios)
        {
            <div>
                <div>&nbsp;&nbsp;@sc.Name.Name</div>
                @foreach (var st in sc.Steps)
                {
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;@st.GroupPrefix @st.Number @st.Name.TypeName @st.Name.Name</div>
                }
            </div>
        }
    </div>
}

@code
{
    public string Version { get; set; }
    public string Data { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Repository.OnUpdate += HandleRefresh;
        await Interop.Initialize();
    }

    private void HandleRefresh()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        Repository.OnUpdate -= HandleRefresh;
    }
}
