bin
obj
*ReSharper*
*.suo
*.user
*.bak
build/Output
*.userprefs
test-results
packages
output
OpenCover
reports
TestResults
make/psmake.*
.vs
*.lock.json
TestResult.xml
templates/**/lightbdd.ico
templates/**/lightbdd_small.ico
