image:
  - Ubuntu2204
  - Visual Studio 2022

version: '{build}'
skip_tags: false
clone_depth: 1
test: off

for:
-
  matrix:
    only:
      - image: Visual Studio 2022
    fast_finish: true
  build_script:
  - ps: make\make.ps1 -t all
  artifacts:
    - path: 'output\*.*'
      name: packages
    - path: 'reports'
      name: reports
  deploy:
    provider: NuGet
    api_key:
      secure: Qx61yV2TH4ouVjNt+rVKe1LfqIM7AY6UfwqTc2xLvbeNEkcHelx/5Q4n4B+mnwao
    skip_symbols: false
    on:
      branch: master
      appveyor_repo_tag: true
-
  matrix:
    only:
      - image: Ubuntu2204
    fast_finish: true
  build_script:
   - sh: dotnet restore
   - sh: dotnet test -c Release -f net6 test/LightBDD.Core.UnitTests/LightBDD.Core.UnitTests.csproj
   - sh: dotnet test -c Release -f net6 test/LightBDD.Framework.UnitTests/LightBDD.Framework.UnitTests.csproj
   - sh: dotnet test -c Release -f net6 test/LightBDD.Framework.Reporting.UnitTests/LightBDD.Framework.Reporting.UnitTests.csproj
   - sh: dotnet test -c Release -f net6 test/LightBDD.MsTest3.UnitTests/LightBDD.MsTest3.UnitTests.csproj
   - sh: dotnet test -c Release -f net6 test/LightBDD.NUnit3.UnitTests/LightBDD.NUnit3.UnitTests.csproj
   - sh: dotnet test -c Release -f net6 test/LightBDD.XUnit2.UnitTests/LightBDD.XUnit2.UnitTests.csproj
   - sh: dotnet test -c Release -f net6 test/LightBDD.Fixie3.UnitTests/LightBDD.Fixie3.UnitTests.csproj
   - sh: dotnet test -c Release -f net8 test/LightBDD.TUnit.UnitTests/LightBDD.TUnit.UnitTests.csproj
