@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{color: #222222;font-family: 'Lato', sans-serif;-webkit-print-color-adjust:exact;}
html{font-size: 14pt;}
.title *{ line-height: 1em;}
label * { line-height: 1em;}
h1{ font-size: 1.40em;}
h2{ font-size: 1.20em;}
h3{ font-size: 1.00em;}
section.features{display: flex;flex-direction: column;}
.feature{margin-bottom: 0.5em;padding: 0.5em;display: table;border-radius: 0.5em;}
.title{font-weight: bold;margin: 0;}
.title,.description,.step{ word-wrap: break-word;}
.steps,.categories{margin-top: 0.5em;}
.feature .scenarios{ margin-top: 0.5em;}
.feature:nth-child(even) { background: #e9e9e9; }
.feature:nth-child(odd) { background: #e0e0e0; }
.scenario{ margin-bottom: 0.2em;border-radius: 0.5em;background-color: #ffffff;padding: 0.2em;}
.toggleF:not(:checked) ~ .scenarios { display: none;}
.toggleS:not(:checked) + h3 ~ * { display: none;}
.toggleSS:not(:checked) ~ .sub-steps { display: none;}
.description{font-style: italic;color: #222222;white-space: pre-wrap;margin-top: 0.5em;}
span.label{background-color: hsl(202, 92%, 90%); color: hsl(202, 92%, 34%); padding: 0 0.3em; border-radius: 0.3em; font-size:smaller;white-space: nowrap;font-weight: normal;}
span.category{background-color: hsl(24, 100%, 90%); color: hsl(24, 100%, 40%); padding: 0 0.3em; margin-right: 0.25em;white-space: nowrap;font-weight: normal;font-style: italic;}
.status{width:1.2em;height:1.2em;margin-top: -0.1em;margin-right: 0.2em;background-size: 1.15em;background-repeat: no-repeat;display: inline-block;vertical-align: middle;}
.status.passed{background-image: var(--status-passed-ico);}
.status.failed{background-image: var(--status-failed-ico);}
.status.ignored{background-image: var(--status-ignored-ico);}
.status.bypassed{background-image: var(--status-bypassed-ico);}
.status.notrun{background-image: var(--status-notrun-ico);}
.details{margin-top: 0.5em;font-style: italic;color: #ff5555;white-space: pre-wrap;font-size: x-small;}
.comments{margin-top: 0.5em;font-style: italic;white-space: pre-wrap;font-size: x-small;}
.attachments{margin-top: 0.5em;font-size: x-small;}
.attachments:before{content:"Attachments:"}
.attachments div{ display: inline-block; margin-right: 0.5em;}
.comments div{color: #0000cd;}
.step,.categories,.step-parameters{margin: 0.2em;margin-left: 1.5em;}
.smallLink,.duration{color: #0000cd;font-size: 0.8em;font-family: monospace;}
th,td{ white-space: nowrap;}
th{ text-align: right;}
th.minor{ font-weight: normal;}
.hidden{ display: none;}
.sortable{ cursor: default;}
td{ text-align: left;}
table,th,td{ font-size: 1em;}
article.execution-summary,article.features-summary{background-color: #e0e0e0;border-radius: 0.5em;padding: 0.5em;display:inline-block;}
table.executionSummary{ border-spacing: 1.5em 0.5em;}
table.executionSummary th{ font-weight: normal;text-align: left;}
table.executionSummary th.subHeader{ text-align: center;font-weight: bold;font-size: larger;}
table.executionSummary td.overall-status{ text-align: center;}
table.executionSummary td.overall-status.passed{ background-color: #aaffaa;}
table.executionSummary td.overall-status.failed{ background-color: #ffaaaa;}
table.features {border-collapse:collapse;}
table.features tbody{background-color:#ffffff;}
table.features tfoot td:first-of-type{font-weight: bold;}
table.features td,table.features th{padding:0.2em 0.4em;}
table.features tfoot td{padding-top:0.5em;}
table.features td{ text-align: right;}
table.features td:first-of-type, table.features th:first-of-type{ text-align: left;}
table.features td:first-of-type{white-space: normal;word-wrap:break-word;}
table.features td:nth-child(2),table.features td:nth-child(7),table.features td:nth-child(13){border-left: 2px solid #e0e0e0;}
table.features tr:nth-child(even){background-color:#f5f5f5;}
.failedAlert{ color: #ff5555;font-weight: bold;}
.ignoredAlert{ color: #ffaa55;font-weight: bold;}
.bypassedAlert{ color: #5555ff;font-weight: bold;}
article{ margin-left: 0.5em;}
.options{ margin-bottom: 0.2em;}
.options > span{ display: table-cell;}
.options > span:first-child{ font-weight: bold;font-style: italic; min-width: 6em;text-align: right;padding-right: 0.5em;}
.option{ display: inline-block;margin-right: 0.5em;}
.feature[data-filtered="false"],.scenario[data-filtered="false"] { display: none;}
a{ text-decoration: none;}
a:hover{ text-decoration: underline;}
#optionsLink, .smallLink, a:hover,label:hover,.sortable:hover, .attachments a{ color: #662266;}
.smallLink{ display: none;}
*:hover > .smallLink { display: inline;}
.chbox{display: inline-block;}
input[type="checkbox"],input[type="radio"]{ display: none;}
.chbox:before{display: inline-block; border: 1px solid #777777;margin-right: 0.5em;font-weight: bold;text-align: center;width: 1.2em;height: 1.2em;line-height: 1.2em;vertical-align: middle;font-family: monospace;margin-top: -0.1em;font-size:smaller;}
.chbox.empty:before {visibility: hidden;}
input[type="checkbox"]:not(:checked) + * .chbox:before{ background-color: #ffeeee;content: "\2715";}
input[type="checkbox"]:checked + * .chbox:before{ background-color: #eeeeee;content: "\2713";}
input[type="checkbox"].toggle + * .chbox:before{ border-radius: 20%;background-color: #eeeeee;}
input[type="checkbox"].toggle:not(:checked) + * .chbox:before{ content: "+";}
input[type="checkbox"].toggle:checked + * .chbox:before{ content: "-";}
input:hover + * .chbox:before{ background-color: #ffffaa !important;}
input[type="radio"] + * .chbox:before{border-radius: 50%; background-color: #eeeeee;}
input[type="radio"]:not(:checked) + * .chbox:before{content: " ";}
input[type="radio"]:checked + * .chbox:before{content: "\2713";}
.stepType{ font-style: italic;}
.stepParam{ color: #aa00aa;}
.stepParamSuccess{ color: #007700;}
.stepParamFailure{ color: #dd0000;}
.stepParamNotProvided{ color: #ff9133;}
.stepParamUnknown{ color: #aa55aa;}
label{ display: inline-block;}
.optionsPanel #optionsLink {display: block; visibility: hidden;margin: 0.1em 0 0.5em 6em;font-weight: bold;}
.optionsPanel:hover #optionsLink{ visibility: visible;}
.footer{ font-size: x-small;text-align: center;}
.footer a{ font-weight: bold;}
table.param.table{ border-collapse: collapse; margin-top:0.1em;}
table.param.table th.param,table.param.table td.param{ border: 1px solid #777777;}
table.param.tree { border-spacing: 0;border: 0; }
table.param.tree td{border-bottom: 5px solid transparent; background-clip: padding-box;}
table.param.tree td.param.value { border-right: 5px solid transparent; background-clip: padding-box;}
table.param.tree td.indent {text-align: right;color: #444444;}
div.param{padding-top:0.3em;}
td.param, th.param { text-align: left; padding-left: 0.3em; padding-right: 0.3em;}
th.param.column{ background: #f0f0f0; text-align: left;font-weight: normal;}
th.param.column.key { font-weight: bold;}
td.param.type { font-size:0.64em;color: #444444; text-align: center; }
td.param.value.success {background: #aaffaa}
td.param.value.failure {background: #ffaaaa;}
td.param.value.exception {background: #ffaaaa;}
td.param.value.notprovided {background: #ffaaaa;}
td.param.value.notapplicable {background: #ffccff;}
td.param.node{ text-align: right;background: #f0f0f0;}
hr {border-top: 1px dashed #777777;border-bottom: 0px; margin: 2px; padding: 0;}
span.expected{font-size: 0.8em;}
span.expected:before{font-size:0.8em; content: "expected: "; color: #444444;}
th.sortable{padding-right: 1.1em !important;position: relative;}
th.sortable:before,th.sortable:after{border: 0.5em solid transparent; display: block;position: absolute;width:1em;height:1em;right:0.25em;content:"";box-sizing: border-box; font-size:smaller;}
th.sortable:before{border-top-color: #777777;bottom:-0.14em;}
th.sortable:after{border-bottom-color: #777777;top:-0.14em;}
th.sortable[data-dir="false"]:after{border-bottom-color: #222222;}
th.sortable[data-dir="true"]:before{border-top-color: #222222;}