@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{color: #222222;font-family: 'Lato', sans-serif;-webkit-print-color-adjust:exact;}
html{font-size: 11pt;}
.title *{ line-height: 1em;}
label * { line-height: 1em;}
.chbox:before{font-size:0.8em;}
.status{ font-size: x-small;height: 1.2em;line-height: 1.2em;vertical-align: middle;}
.step .status{font-size: xx-small;}
h1{ font-size: 1.40em;}
h2{ font-size: 1.20em;}
h3{ font-size: 1.00em;}
section.features{display: flex;flex-direction: column;}
.feature{margin-bottom: 1em;padding: 0.2em;display: table;}
.title{font-weight: bold;margin: 0;}
.title,.description,.step{ word-wrap: break-word;}
.steps,.categories{margin-top: 0.5em;}
.categories { font-style: italic;color: #0000cd}
.feature .scenarios{margin: 1em 0 1em 2em;}
.feature:nth-child(even) { background: #cccccc; }
.feature:nth-child(odd) { background: #dddddd; }
.scenario{ margin-bottom: 1px;}
.toggleF:not(:checked) ~ .scenarios { display: none;}
.toggleS:not(:checked) + h3 ~ * { display: none;}
.toggleSS:not(:checked) ~ .sub-steps { display: none;}
.description{font-style: italic;color: #222222;white-space: pre-wrap;margin-top: 0.5em;}
.label{color: #222277;}
.status{font-weight: bold;border: 1px solid #777777;padding: 0.2em;margin-right: 0.2em;width: 5em; display: inline-block;text-align: center;}
.status.passed{background-color: #aaffaa;}
.status.failed{background-color: #ffaaaa;}
.status.ignored{background-color: #ffffaa;}
.status.bypassed{background-color: #aaaaff;}
.status.notrun{background-color: #aaaaaa;}
.details{margin-top: 0.5em;font-style: italic;color: #ff5555;white-space: pre-wrap;font-size: x-small;}
.comments{margin-top: 0.5em;font-style: italic;white-space: pre-wrap;font-size: x-small;}
.attachments{margin-top: 0.5em;font-size: x-small;}
.attachments::before{content:"Attachments:"}
.attachments div{ display: inline-block; margin-right: 0.5em;}
.comments div{color: #0000cd;}
.step,.categories,.step-parameters{margin: 0.2em;margin-left: 1.5em;}
.smallLink,.duration{color: #0000cd;font-size: 0.8em;font-family: monospace;}
th,td{ white-space: nowrap;}
th{ text-align: right;}
th.minor{ font-weight: normal;}
.hidden{ display: none;}
.sortable{ cursor: default;}
td{ text-align: left;}
table,th,td{ font-size: 1em;}
table.features td{ text-align: right;}
table.features td:first-of-type, table.features th:first-of-type{ text-align: left;}
table.features td:first-of-type{white-space: normal;word-wrap:break-word;}
.failedAlert{ color: #ff5555;font-weight: bold;}
.ignoredAlert{ color: #ffaa55;font-weight: bold;}
.bypassedAlert{ color: #5555ff;font-weight: bold;}
article{ margin-left: 1em;}
.options{ margin-bottom: 0.2em;}
.options > span{ display: table-cell;}
.options > span:first-child{ font-weight: bold;font-style: italic; min-width: 6em;text-align: right;padding-right: 0.5em;}
.option{ display: inline-block;margin-right: 0.5em;}
.feature[data-filtered="false"],.scenario[data-filtered="false"] { display: none;}
a{ text-decoration: none;}
a:hover{ text-decoration: underline;}
#optionsLink, .smallLink, a:hover,label:hover,.sortable:hover, .attachments a{ color: #662266;}
.smallLink{ display: none;}
*:hover > .smallLink { display: inline;}
input[type="checkbox"],input[type="radio"]{ display: none;}
.chbox:before{display: inline-block; border: 1px solid #777777;margin-right: 0.5em;font-weight: bold;text-align: center;width: 1.2em;height: 1.2em;line-height: 1.2em;vertical-align: middle;}
.chbox.empty:before {visibility: hidden;}
input[type="checkbox"]:not(:checked) + * .chbox:before{ background-color: #ffeeee;content: "\2715";}
input[type="checkbox"]:checked + * .chbox:before{ background-color: #eeeeee;content: "\2713";}
input[type="checkbox"].toggle:not(:checked) + * .chbox:before{ background-color: #ffeeee;content: "v";}
input[type="checkbox"].toggle:checked + * .chbox:before{ background-color: #eeeeee;content: "^";}
input[type="radio"]:not(:checked) + * .chbox:before{border-radius: 50%; background-color: #eeeeee;content: " ";}
input[type="radio"]:checked + * .chbox:before{border-radius: 50%; background-color: #eeeeee;content: "\2713";}
.stepType{ font-style: italic;}
.stepParam{ color: #aa00aa;}
.stepParamSuccess{ color: #007700;}
.stepParamFailure{ color: #dd0000;}
.stepParamNotProvided{ color: #ff9133;}
.stepParamUnknown{ color: #aa55aa;}
label{ display: inline-block;}
.optionsPanel #optionsLink {display: block; visibility: hidden;margin: 0.1em 0 0.5em 6em;font-weight: bold;}
.optionsPanel:hover #optionsLink{ visibility: visible;}
.footer{ font-size: x-small;text-align: center;}
.footer a{ font-weight: bold;}
table.param.table{ border-collapse: collapse; margin-top:0.1em;}
table.param.table th.param,table.param.table td.param{ border: 1px solid #777777;}
table.param.tree { border-spacing: 0;border: 0; }
table.param.tree td{border-bottom: 5px solid transparent; background-clip: padding-box;}
table.param.tree td.param.value { border-right: 5px solid transparent; background-clip: padding-box;}
table.param.tree td.indent {text-align: right;color: #444444;}
div.param{padding-top:0.3em;}
td.param, th.param { text-align: left; padding-left: 0.3em; padding-right: 0.3em;}
th.param.column{ background: #f0f0f0; text-align: left;font-weight: normal;}
th.param.column.key { font-weight: bold;}
td.param.type { font-size:0.64em;color: #444444; text-align: center; }
td.param.value.success {background: #aaffaa}
td.param.value.failure {background: #ffaaaa;}
td.param.value.exception {background: #ffaaaa;}
td.param.value.notprovided {background: #ffaaaa;}
td.param.value.notapplicable {background: #ffccff;}
td.param.node{ text-align: right;background: #f0f0f0;}
hr {border-top: 1px dashed #777777;border-bottom: 0px; margin: 2px; padding: 0;}
span.expected{font-size: 0.8em;}
span.expected:before{font-size:0.8em; content: "expected: "; color: #444444;}