<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="lightbdd" type="LightBDD.Configuration.LightBDDConfiguration, LightBDD"/>
  </configSections>
  <lightbdd>
    <summaryWriters type="LightBDD.SummaryGeneration.FormattableSummaryFileWriter, LightBDD">
      <clear />
      <add formatter="LightBDD.Results.Formatters.PlainTextResultFormatter, LightBDD" output="Reports/FeatureSummary_{TestDateTime:yyyy-MM-dd_HH_mm_ss}.txt"/>
      <add formatter="LightBDD.Results.Formatters.HtmlResultFormatter, LightBDD" output="Reports/FeatureSummary_{TestDateTime:yyyy-MM-dd_HH_mm_ss}.html"/>
      <add formatter="LightBDD.Results.Formatters.XmlResultFormatter, LightBDD" output="Reports/FeatureSummary_{TestDateTime:yyyy-MM-dd_HH_mm_ss}.xml"/>
    </summaryWriters>
  </lightbdd>
</configuration>