<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="lightbdd" type="LightBDD.Configuration.LightBDDConfiguration, LightBDD"/>
  </configSections>
  <lightbdd>
    <summaryWriters>
      <clear />
      <add formatter="LightBDD.Results.Formatters.PlainTextResultFormatter, LightBDD" output="Reports/FeaturesSummary.txt"/>
      <add formatter="LightBDD.Results.Formatters.HtmlResultFormatter, LightBDD" output="Reports/FeaturesSummary.html"/>
    <add formatter="LightBDD.Results.Formatters.XmlResultFormatter, LightBDD" output="Reports/FeaturesSummary.xml"/>
    </summaryWriters>
  </lightbdd>
</configuration>