<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="lightbdd" type="LightBDD.Configuration.LightBDDConfiguration, LightBDD"/>
  </configSections>
  <lightbdd>
    <summaryWriters>
      <!-- FeatureSummary.xml is added by default. Use <clear /> to remove it.-->
      <add formatter="LightBDD.Results.Formatters.PlainTextResultFormatter, LightBDD" output="FeatureSummary.txt"/>
      <add formatter="LightBDD.Results.Formatters.HtmlResultFormatter, LightBDD" output="FeatureSummary.html"/>
    </summaryWriters>
  </lightbdd>
</configuration>