*{color: #222222;font-family: Arial, sans-serif;-webkit-print-color-adjust:exact;}
html{font-size: 11pt;}
.status,.chbox:before{font-size:0.6em;}
h1{ font-size: 1.60em;}
h2{ font-size: 1.40em;}
h3{ font-size: 1.20em;}
.feature{margin-bottom: 1em;padding: 0.2em;}
.title{font-weight: bold;vertical-align: middle;margin: 0;}
.steps{margin-top: 0.5em;}
.feature .header{width: 25%;display: inline-block;vertical-align: top;}
.feature .scenarios{width: auto;display: inline-block;vertical-align: top;}
.scenario .title{display:inline-block}
.toggle:not(:checked) ~ .scenarios { display: none;}
.toggle:not(:checked) + h3 ~ * { display: none;}
.description{font-style: italic;color: #222222;white-space: pre-wrap;}
.label{color: #222277;padding: 0.2em;}
.scenario{ margin-bottom: 1em;}
.status{font-weight: bold;border: 1px solid #777777;padding: 0.2em;margin-right: 0.2em;width: 4em; display: inline-block;vertical-align: middle;text-align: center;}
.status.passed{background-color: #aaffaa;}
.status.failed{background-color: #ffaaaa;}
.status.ignored{background-color: #ffffaa;}
.status.notrun{background-color: #aaaaaa;}
.details{margin-top: 0.5em;font-style: italic;color: #ff5555;white-space: pre-wrap;font-size: x-small;}
.step{margin: 0.2em;margin-left: 2em;}
.duration{color: #0000cd;font-size: 0.8em;font-family: monospace;vertical-align: middle;}
th{ text-align: right;vertical-align: middle;}
td{ text-align: left;vertical-align: middle;}
table,th,td{ font-size: 1em;}
table.features td{ text-align: right;}
table.features td:first-of-type, table.features th:first-of-type{ text-align: left;}
td.alert{ color: #ff5555;font-weight: bold;}
article{ margin-left: 1em;}
.filter{ margin:0 0.3em 0.5em 0; font-weight: bold;font-style: italic; display: inline-block;}
#showPassed:not(:checked) ~ * .scenario.passed, #showPassed:not(:checked) ~ .feature.passed { display: none;}
#showFailed:not(:checked) ~ * .scenario.failed, #showFailed:not(:checked) ~ .feature.failed { display: none;}
#showIgnored:not(:checked) ~ * .scenario.ignored, #showIgnored:not(:checked) ~ .feature.ignored { display: none;}
#showNotRun:not(:checked) ~ * .scenario.notrun, #showNotRun:not(:checked) ~ .feature.notrun { display: none;}
#showPassed:checked ~ * .scenario.passed, #showPassed:checked ~ .feature.passed { display: block;}
#showFailed:checked ~ * .scenario.failed, #showFailed:checked ~ .feature.failed { display: block;}
#showIgnored:checked ~ * .scenario.ignored, #showIgnored:checked ~ .feature.ignored { display: block;}
#showNotRun:checked ~ * .scenario.notrun, #showNotRun:checked ~ .feature.notrun { display: block;}
input { vertical-align: middle;}
a{ text-decoration: none;}
a:hover{ text-decoration: underline;}
a:hover,label:hover{ color: #662266;}
input[type="checkbox"]{ display: none;}
.chbox:before{display: inline-block; border: 1px solid #777777;padding: 0.1em;margin-right: 0.5em; border: 1px solid #777777;font-weight: bold;text-align: center;vertical-align: middle;width: 1em;}
input[type="checkbox"]:not(:checked) + * .chbox:before{ background-color: #ffeeee;content: "\2715";}
input[type="checkbox"]:checked + * .chbox:before{ background-color: #eeeeee;content: "\2713";}
input[type="checkbox"].toggle:not(:checked) + * .chbox:before{ background-color: #ffeeee;content: "\22bd";}
input[type="checkbox"].toggle:checked + * .chbox:before{ background-color: #eeeeee;content: "\22bc";}