body{color: #222222;font-family: Arial;}
.feature{margin-bottom: 1em;padding: 0.2em;}
.title{font-weight: bold;vertical-align: middle;}
.feature > .header{width: 20%;display: inline-block;vertical-align: top;}
.feature > .scenarios{width: 80%;display: inline-block;vertical-align: top;}
.description{font-style: italic;color: #222222;white-space: pre-wrap;}
.label{color: #222277;padding: 0.2em;}
.label:after{content: ']';}
.label:before{content: '[';}
.number{padding: 0.2em;}
.scenario{margin-bottom: 1em;}
.status{font-size: x-small;font-weight: bold;border: 1px solid #777777;padding: 0.2em;margin: 0.1em;margin-right: 0.2em;width: 4em;display: inline-block;vertical-align: middle;}
.passed{background-color: #aaffaa;}
.failed{background-color: #ffaaaa;}
.ignored{background-color: #ffffaa;}
.notrun{background-color: #aaaaaa;}
.details{margin-top: 0.5em;font-style: italic;color: red;white-space: pre-wrap;font-size: x-small;}
.step{margin-left: 1em;}
.duration{color: #0000cd;font-size: smaller;padding-left: 1em;font-family: monospace;vertical-align: middle;}
th{ text-align: right;vertical-align: middle;}
td{ text-align: left;vertical-align: middle;}
table,th,td{ font-size: medium;}
table.features td{ text-align: right;}
td.alert{ color: red;font-weight: bold;}